.f
{
background:#1898FF;
height:100px;
margin:-8px;
}
#menu
{
background-color: #FFFFFF;
position: absolute;
width: 270px;
height: 20px;
top:20px;
left:20px;
}

ul
{
margin-right: 0;
margin-top: 0;
margin-left: 0;
margin-bottom: 0;
padding: 0;

}

li
{
float: left;
text-decoration: none;
list-style: none;
width: 133px;
height: 20px;
text-align: center;
background:#FFFFFF;
border: 1px solid #AF5A5B;
}
li:hover
{
background: #3A8AC4;
}
input
{
width:300px;
height:20px;
position:relative;
top:20px;
left:500px;
}
input::-webkit-input-placeholder
{
color: black;
font-style: italic;
font-size:20px;
font-weight:bold;
}
xmp{color:white;
font-size:50px;
position:relative;
text-align:right;
right:180px;
top:-110px;
}
.e{height:500px;
background:#1E24CC;
margin:-8px;
position:relative;
top:-140px;}
.hh{color:white;
padding:50px;
position:relative;
top:20px;
font-size:40px;}
.se{width:600px;
height:90px;
color: black;
font-style: italic;
font-size:20px;
font-weight:bold;
position:relative;
left:50px;}
.gh{ top:-220px;
left:-187px;}
p{font-size:19px;}


textarea{background:url(foto.png)}

.blockst{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-self: center;
align-items: center;
width:99%;
margin: auto;
border: 0.5em solid red;
}
.tblock{
border: 2px solid #555555;
background-color: #3A8AC4;
width: 100%;
height: 300px;
margin: 1em;
}

.blocksf{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-self: center;
align-items: center;
width:99%;
margin: auto;
border: 0.5em solid red;
}
.fblock{
border: 2px solid #555555;
background-color: #3A8AC4;
width: 100%;
height: 300px;
margin: 1em;
}

@media screen and (min-width: 900px) {

.fblock{
width: 40%;
}
}
@media screen and (min-width: 1000px) {
.fblock{
width: 30%;
}
.tblock{
width: 31%;
}
.blockst{
flex-wrap: nowrap;
}
.headimg{
height: 3.5em;
font-size: 2em;
}
.head{
height: 20%;
}
.head div{
margin-left: 20em;
font-size: 25px;
}
}